[submodule "src/deps/libimagequant"]
	path = src/deps/libimagequant
	url = https://github.com/mateoconlechuga/libimagequant.git
[submodule "src/deps/stb"]
	path = src/deps/stb
	url = https://github.com/nothings/stb.git
[submodule "src/deps/libyaml"]
	path = src/deps/libyaml
	url = https://github.com/yaml/libyaml.git
[submodule "src/deps/zx"]
	path = src/deps/zx
	url = https://github.com/mateoconlechuga/zx.git
