name: C/C++ CI

on:
  push:
    branches: [master]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu, macOS, windows]
        config: [Release]

    runs-on: ${{matrix.os}}-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v1
      with:
        submodules: true
        fetch-depth: 1
        
    - name: Build Release
      run: make release
      
    - name: Test Release
      run: make test
      continue-on-error: true
   
